body {
  margin: 0;
  padding: 0;
  background: #000000;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
}

#output {
  border:1px solid #999;
  border-radius: 5px;
}

#sidebar {
  border:1px solid #999;
  border-radius: 5px;
  width: 200px;
  margin-left:1em;
  display: flex;
  flex-direction: column;
}

#stats {
  flex: 1 auto;
}

#info {
  flex: 0 auto;
  padding:10px 8px;
}

#info .text {
  color: #999;
  font-family: monospace;
  font-size:13px;
}

#info button {
  float:right;
  border-radius:5px;
  border:1px solid #333;
  padding:3px 8px;
  background: #000000;
  color:#333;
  margin-left:8px;
}

#info button:hover {
  color:#fff;
  border:1px solid #fff;
}

#info button.active {
  color:#fff;
  background: #3BB143;
  border:1px solid #3BB143;
}
