html {
  scroll-padding-top: 80px;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

#header {
  background: linear-gradient(
    135deg,
    rgb(255, 195, 18) 0%,
    rgb(255, 195, 18) 80px,
    rgb(255, 190, 0) 100%
  );

  background: url(../img/moana.jpg) bottom center;
  background-size: cover;
  padding-top: 80px;
}

a.btn:hover {
  text-decoration: none !important;
}

#header h1 {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 600;
}

#header #summary {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: brightness(100%) blur(4px);
}

@media (min-width: 576px) {
  #header #summary,
  #header h1 {
    border-radius: 8px;
  }
}

#header #summary a {
  text-decoration: none;
}

#header #summary a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#header #summary p.lead {
  font-weight: normal;
}

.nav-menu {
  background: rgb(255, 195, 18);
  box-shadow: 0px 3px 0px 2px rgba(255, 195, 18, 0.5);
}

.navbar-logo img {
  height: 22px;
}

.nav-link {
  color: black;
  position: relative;
}

.nav-link.active {
  font-weight: bold;
}

#content .section:nth-child(odd), .bgbg {
  background: rgba(255, 195, 18, 0.1);
  box-shadow: 0px 0px 0px 2px rgba(255, 195, 18, 0.2);
}

.video-container {
  border-radius: 8px;
  overflow: hidden;
}

#paper-first-page {
  background: url(../img/firstpage.png) 0px -30px;
  background-size: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 3px rgba(255, 195, 18, 0.2);
}

.section h3 {
  display: inline-block;
  color: rgb(199, 158, 36);
  padding: 8px 12px;
  padding-top: 0;
  padding-left: 0;
  border-radius: 0px;
}

#intro h1 {
  /* color: rgb(199, 158, 36); */
  font-weight: bold;
}

#intro h1 img {
  height: 0.7em;
  vertical-align: baseline;
}

#intro div > img {
  display: inline-block;
  align-self: flex-end;
}

#intro .intro-title {
  line-height: 110%;
  color: black;
}

/* #content .section:nth-child(odd) h3 {} */

.section h3 i {
  margin-right: 10px;
}

#moana-image-copyright {
  text-align: left;
}

#moana-image-copyright a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 4px;
}

#moana-image-copyright .hidden-text {
  display: none;
}

#moana-image-copyright a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#moana-image-copyright a:hover .hidden-text {
  display: inline;
}

#intro h2 {
  display: flex;
  align-items: top;
  font-weight: 400;
}

#intro h2 > .number-circle {
  font-size: 110%;
  flex: 0 0 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  float: left;
  margin-right: 0.5em;
  border: 2px solid #000;
}

#bibtex-collapse {
  border-radius: 5px;
  border: 1px solid #eee;
  background: #f9f9f9;
  padding: 8px 12px;
  overflow: hidden;
}
